<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img height="400px" src="https://images-static.nykaa.com/uploads/688aa7a5-7034-4ba0-91b0-2aba62390470.jpg?tr=w-1200,cm-pad_resize" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img height="400px" src="https://images-static.nykaa.com/uploads/9d18b49c-bae6-46e5-9828-8825f901c300.gif?tr=w-1200,cm-pad_resize" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img height="400px" src="https://images-static.nykaa.com/uploads/b8fc4180-8f96-46d7-a650-774d68173de5.gif?tr=w-1200,cm-pad_resize" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
           
    </div>
        <div class="rowg-3">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <div class="card" >
                    <img height="400px" src="https://images-static.nykaa.com/uploads/8d1e5310-63d2-4598-a8fe-22a328a3c181.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Adidas Sneaker</h5>
                      <p class="card-text">Rs 1800/-</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
        
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <div class="card" >
                    <img height="400px" src="https://images-static.nykaa.com/uploads/3f9e76de-c030-4bc7-86ce-87fda72c1fef.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sketchers Sneaker</h5>
                      <p class="card-text">Rs 790/-</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <div class="card" >
                    <img height="=400px" src="https://images-static.nykaa.com/uploads/60f84a68-c736-46db-85a8-f6b12821c701.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jack & Jones Hoodies</h5>
                      <p class="card-text">Rs 1300 /-</p>
                      <a href="#" class="btn btn-primary">Buy </a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
               <div class="card" >
                <img height="400px" src="https://images-static.nykaa.com/uploads/18a638ad-2d1f-4cd6-a596-9ed3d57b9474.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Red Tape Sneaker</h5>
                  <p class="card-text">Rs 1200 /-</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <a routerLink="/">Go to sigin</a>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <a routerLink="/sign">Go to sign up</a>
            </div>
        </div>
</div>
  

